.env

# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# Redis database
dump.rdb
*.rdb
../dump.rdb

# IDE files
.vscode/
.idea/

# OS files
.DS_Store


# Log files
app.log

src/syncStop/.env